---
# - name: set hostname
#   command: hostnamectl --static set-hostname {{ inventory_hostname }}


- name: install packages via yum
  yum: name={{ item }} state=latest
  when: "ansible_distribution in ['Fedora']"
  with_items:
    - postfix
  tags:
    - postfix
    - yum

- name: install packages via apt
  apt: name={{ item }} state=latest
  when: "ansible_distribution in ['Ubuntu', 'Debian']"
  with_items:
    - postfix
  tags:
    - postfix
    - apt

- name: instanciate config files
  template: dest=/etc/postfix/{{ item }} src=postfix/{{ item }}
  with_items:
    - master.cf
    - main.cf
  tags:
    - postfix
  notify:
    - restart postfix

- name: update alias tables
  template: src=postfix/aliases
            dest={{ item.file }}
            mode="{{ item.mode | default('0664') }}"
            owner={{ item.owner | default("root") }}
            group={{ item.group | default("root") }}
  with_items: "{{ mta_alias_maps }}"
  tags:
    - postfix
    - postfix_virtual_map
  register: alias_map_update

- name: compile alias tables
  command: postalias {{ item.item.file }}
  when: "{{ item | changed }}"
  with_items: "{{ alias_map_update.results | default([]) }}"
  notify:
    - reload postfix
  tags:
    - postfix
    - postfix_virtual_map

- name: update virtual tables
  template: src=postfix/virtual dest=/etc/postfix/virtual_{{ item.domain }}
  when: item is mapping
  with_items: "{{ mta_virtual_maps | default(omit) }}"
  tags:
    - postfix
    - postfix_virtual_map
  register: virtual_map_update

- name: compile virtual tables
  command: postmap /etc/postfix/virtual_{{ item.item.domain }}
  when: item | changed
  with_items: "{{ virtual_map_update.results | default([]) }}"
  notify:
    - reload postfix
  tags:
    - postfix
    - postfix_virtual_map

- name: create alias include dir
  file: path=/etc/postfix/aliases.d/ state=directory
  tags:
    - postfix

- name: create placeholder file
  copy: dest=/etc/postfix/aliases.d/placeholder.aliases content=""
  tags:
    - postfix

- name: force alias includer generation at this point
  command: /bin/true
  notify:
    - update include alias file
  tags:
    - postfix

- name: update transport map
  template: src=postfix/transport_map dest=/etc/postfix/transports
  when: mta_transport_map is mapping
  tags:
    - postfix
    - postfix_transport_map
  register: postfix_transport_map

- name: compile transport map
  command: postmap /etc/postfix/transports
  when: postfix_transport_map | changed
  tags:
    - postfix
    - postfix_transport_map

- name: deploy sasl password map for relaying
  template: src=postfix/password_map
            dest="{{ mta_relayhost_auth.mapfile }}"
  when: mta_relayhost and mta_relayhost_auth
  register: password_map
  notify:
    - reload postfix
  tags:
    - postfix

- name: compile sasl password map for relaying
  command: postmap "{{ mta_relayhost_auth.mapfile }}"
  when: password_map | changed
  notify:
    - reload postfix
  tags:
    - postfix

- name: upload certificate
  copy: content="{{ mta_tls_cert }}"
        dest=/etc/postfix/ssl.crt
        owner=root
        group=root
        mode=0444
  when: mta_tls_cert | default(False)
  notify:
  - reload postfix
  tags:
  - postfix
  - certificate

- name: upload key
  copy: content="{{ mta_tls_key }}"
        dest=/etc/postfix/ssl.key
        owner=root
        group=root
        mode=0400
  when: mta_tls_key | default(False)
  notify:
  - reload postfix
  tags:
  - postfix
  - certificate
  - requires-secret

- name: setup core firewall service files
  copy: src=firewalld/{{ item }}.xml dest=/etc/firewalld/services/
  with_items:
    - smtpd
  when: ansible_distribution in ['Fedora']
  register: firewall_rule_copy1
  tags:
    - postfix
    - firewall

- name: setup submission firewall service files
  copy: src=firewalld/{{ item }}.xml dest=/etc/firewalld/services/
  when: mta_msa and ansible_distribution in ['Fedora']
  with_items:
    - submission
  register: firewall_rule_copy2
  tags:
    - postfix
    - firewall

- name: reload firewall
  command: firewall-cmd --reload
  when: (firewall_rule_copy1|changed) or (firewall_rule_copy2|changed)
  tags:
    - postfix
    - firewall

- name: enable core services in firewall
  command: firewall-cmd --permanent --zone=public --add-service={{ item }}
  when: ansible_distribution in ['Fedora']
  with_items:
    - smtpd
  tags:
    - postfix
    - firewall

- name: enable submission in firewall
  command: firewall-cmd --permanent --zone=public --add-service={{ item }}
  when: mta_msa and ansible_distribution in ['Fedora']
  with_items:
    - submission
  tags:
    - postfix
    - firewall

- name: start and enable postfix
  service: name=postfix state=started enabled=yes
  tags:
    - postfix
